html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear {
				content: "";
				display: block;
				clear: both;
}

body{
	background: #fff;
}
#main-header{
width: 100%;
	
 
}
#logo{
	
	width: 20%;
	float: left;
	margin-left: 25px;
    margin-top: 17px;

}	
	#logo img{
		width: 170px;
	}
#main-nav{
	width: 100%;
	height: 80px;
	z-index: 1;
	position: fixed;
	top: 0;
    left: 0;
	background: rgba(0,0,0,0.7);
	box-shadow: 4px 10px 24px;

}



#main-nav ul {
 	width: 75%;
}
	#main-nav ul li{
		display: inline-block;
		margin-left: 37px;
	    margin-top: 37px;
	}
		#main-nav ul li a{
			text-decoration: none;
			color: #fff;
			font-size: 1.6em;
			font-variant: small-caps;
			
			font-family: arial;
		}
			#main-nav ul li a:hover{
				color: rgb(26,162,225);
			}
			#search{
				float: right;
				margin-right: 41px;
			    width: 17%;
			    border-radius: 10px;
			    height: 23px;
			    margin-top: -30px;
			        border: none;
			    background: #000;
			    
			    color: #fff;
			    padding: 5px
			 }
.headline{
	text-align: center;
	font-size: 2.5em;
	font-family: arial;
	margin-bottom: 20px;
}
#hideme{
	    margin-left: 230px;
	       
}
.hide{
	opacity: 0;
}

	.event-box{
			width: 20%;
			height: 350px;
			background: rgb(39,40,34);
			float: left;
			margin-left: 15px;
			text-align: center;
			border-radius: 5px;
			margin-bottom: 15px;

		}
		.event-box img{
			width: 90%;
			height: 210px;
			margin-top: 10px;
			border-radius: 5px;
		}
			.event-box h3{
				color: #fff;
    			font-size: 1.5em;
    			font-family: arial;
    			margin-bottom: 5px;
			}
				.event-box p{
					    color: #fff;
    					font-size: 1em;
    					font-family: arial;
   						margin-bottom: 36px;
				}
					.event-box a {
						    text-decoration: none;
    						color: #fff;
    						background: rgb(26,162,225);
    						padding: 8px;
    						border-radius: 6px;
					}


.banner{
	width: 70%;
	height: 100px;
    margin-left: 245px;
    
    border: 1px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
 .banner img{
 	width: 100%;
 	height: 100px;
 	border-radius: 10px;

 }
.courses{
	    
    background: #464343;
    padding-top: 5px;
    height: 668px;
    
}	
	.courses h2{
		text-align: center;
		color: rgb(26,162,225);
		font-size: 2.5em;
		font-family: arial;
	}
		.courses-box{
			width: 70%;
		    height: 131px;
		    margin-left: 245px;
		    background: #fff;
		    margin-top: 14px;
		    border-radius: 10px;
		    background: #464343;
		    border: 1px solid #fff;
		    color: #fff;
		}
			.courses-info {
				padding-top: 20px;
				font-style: italic;
			}
				.courses-info h3{
					padding-bottom: 5px;
					font-size: 1.2em;
					font-weight: bold
				}
					.courses-pic img{
						width: 20%;
			    		height: 112px;
			    		padding: 9px;
			  			float: left;
			   			
			   			background:  #464343;
			   			border-radius: 15px;

					}
#news {
	    background: #fff;
	    width: 70%;
    	margin-left: 245px;
    	
}
	#news a{
		color: #000;
		margin-left: 15px;
	}
		#news date{
			float: right;
			margin-right: 15px;
		}
#main-footer{
	background: rgba(0,0,0,0.7);
	height: 400px;
	margin-top: 40px;
	padding-left: 100px
}
	#main-footer .list {
		float: left;
		width: 15%;
		margin-top: 40px;
	}
		#main-footer ul li {
			padding-top: 20px;
		}
			#main-footer ul li a{
				color: #fff;
				text-decoration: none;

			}
#social {
	padding-top: 60px;
}
	#social a {
		display: inline-block;
		text-decoration: none;
		color: #fff;
		margin-left: 10px
	}
#fulllist {
	    width: 60%;
    float: right;
    margin-top: -150px;
}









	label, input { display:block; }
    input.text {  margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { padding-top: 80px; width:25%; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error {  padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    #users-contain h1{ color: #fff; font-style: italic;}

